<!DOCTYPE html>
{% extends 'base.html' %}
    {% block body_block %}
     <div class="jumbotron" style="margin-top: 2%;background-color: white">
        <div class="container">
            <h1 style="font-size: 50px">Sign In</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="/signin" style="margin-left: 8%;" type="submit" class="btn btn-primary">Sign In</a>
                <p>If you don't have account?<a href="/signup">Sign Up</a></p>
            </form>
        </div>
     </div>
    {% endblock %}