{% extends 'base.html'%}
{% load static %}
{% block body_block %}
  
    <div class="container my-4">
        <div class="row">
            <h2>Products</h2>
            {% for product in products %}
            <div class="col-md-3">
                <table border="0">
                    <tr>
                        <th>
                            <div class="row">
                                <img src="/media/{{ product.image }}" width="30px" height="250px">
                            </div><br>
                            <div class="submit-row">
                                <h5>{{ product.product_name }}</h5>
                                <h5>Rs: {{ product.price }}</h5>
                                <p><b>Description:</b><br>{{ product.decription }}</p>
                            </div> 
                        </th>
                    </tr>
                </table>
            </div>
            {% endfor %}
            <!-- <div class="col-md-8">
                 <h5>{{ product.product_name }}</h5>
                <h5>Price:{{ product.price }}</h5>
                <p>{{ product.decription }}</p>
            </div> -->
        </div>
    </div>
    
{% endblock %}